---
import LinkButton from "../components/LinkButton.astro";
---

<div
  class="w-screen h-screen m-0 p-0 flex justify-center items-center flex-col gap-y-3 text-center"
>
  <h1 class="text-5xl font-semibold text-cyan-900 dark:">404</h1>
  <h2 class="text-3xl text-cyan-700 text-center">Page Not Found</h2>
  <a href="/" class="text-xl text-white bg-black border px-4 py-2 rounded-lg hover:bg-gray-800">
    Ir al inicio</a
  >
</div>
