---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Proyects from "../components/Proyects.astro";
import Section from "../components/Section.astro";
import SocialLink from "../components/SocialLink.astro";
import Layout from "../layouts/Layout.astro";
import TitleSection from "../components/TitleSection.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Portafolio de William Toro - Programador y desarrollador web">
  <main>
    <Section class="pt-40 pb-20">
      <h1 class="text-5xl font-bold flex items-center flex-row gap-x-4 pb-6">
        Hola, soy William Toro <a
          href="#"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl opacity-80">
        <span>+2 años de experiencia.</span>
        <span class="text-blue-600/90">
          Ingeniero Industrial y desarrollador FullStack
        </span>
        <span class="text-green-500/90">de Pereira Colombia</span>
        <span class="opacity-75"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          velit repudiandae, aspernatur unde libero natus reprehenderit
          blanditiis officiis, distinctio nesciunt ipsam necessitatibus cum
          quibusdam nostrum ex id. Ducimus, eius quidem?</span
        >
      </h2>

      <ul class="flex flex-row gap-3 mt-8">
        <li>
          <SocialLink> Linkedin </SocialLink>
        </li>
        <li>
          <SocialLink> Git Hub </SocialLink>
        </li>
      </ul>
    </Section>

    <Section id="experiencia">
      <TitleSection>
        <ExperienceIcon />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </Section>
    <Section id="proyectos">
      <TitleSection>
        <CodeIcon /> Proyectos
      </TitleSection>
      <Proyects />
    </Section>
    <Section id="sobre-mi" class="mt-14">
      <TitleSection>
        <CodeIcon /> Sobre mí
      </TitleSection>
      <AboutMe />
    </Section>
  </main>
</Layout>

<style></style>
