---
import Experience from "../components/Experience.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Proyects from "../components/Proyects.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import TitleSection from "../components/TitleSection.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Portafolio de William Toro - Programador y desarrollador web">
  <main class="mx-5 md:mx-0 flex flex-col gap-16">
    <Section class="pt-16 md:pt-40 md:pb-14">
      <Hero />
    </Section>

    <Section id="experiencia">
      <TitleSection>
        <ExperienceIcon />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </Section>
    <Section id="proyectos">
      <TitleSection>
        <CodeIcon /> Proyectos
      </TitleSection>
      <Proyects />
    </Section>
    <Section id="sobre-mi">
      <TitleSection>
        <CodeIcon /> Sobre mí
      </TitleSection>
      <AboutMe />
    </Section>
  </main>
</Layout>

<style></style>
