---
const personalImageAlt = "William Toro";
---

<article
  class="flex flex-col items-center md:items-start justify-center gap-8 text-gray-700 dark:text-slate-100 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-800 dark:[&>p>strong]:text-yellow-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es William Ancízar Toro Benavides, pero algunos me dicen
      simplemente Will. Estudié Ingeniería Industrial en la Universidad
      Tecnológica de Pereira, donde tuve mis primeros pasos en la programación.
      Cuando terminé la carrera, tomé la decisión de aprender a programar de
      forma autodidacta, aprovechando al máximo todos los recursos y
      capacitaciones disponibles. <strong
        >Gracias a mi compromiso y ganas de aprender, hoy en día me encuentro
        trabajando como desarrollador de software</strong
      >.
    </p>

    <p>
      He tenido la oportunidad de trabajar en varios proyectos. En uno de ellos,
      participé en todas las fases del desarrollo, desde la planeación y
      levantamiento de requisitos hasta el desarrollo del
      <strong>frontend</strong>, utilizando <strong
        >ReactJS y Material UI
      </strong>, y el <strong>backend</strong> con tecnologías como <strong>
        C#, .NET Core 6 y bases de datos como SQL Server</strong
      >.
    </p>

    <p>
      Actualmente, me encuentro trabajando en proyectos enfocados en el
      desarrollo de productos <strong
        >web y móviles para el sector bancario</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/about_me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover h-full p-1 lg:p-2 lg:w-64 rounded-full"
    style="object-position: 50% 50%"
  />
</article>
