<footer
  class="py-10 text-base text-neutral-400 flex flex-col justify-center items-center"
>
  &#169 2025 - William Toro
  <p class="text-cyan-500">
    Make with <span class="text-blue-600">&#9829</span>
  </p>
</footer>
