<footer
    class="py-20 text-base text-neutral-400 flex flex-col justify-center items-center"
>
    &#169 2025 - William Toro
    <p class="text-cyan-400">
        Make with <span class="text-blue-600">&#9829</span>
    </p>
</footer>
