---
import LinkInline from "./LinkInline.astro";
---

<header class="flex justify-between w-[1120px] py-4 opacity-70 mx-auto">
  <!-- <img
    class="rounded-full size-12"
    src="./perfil.png"
    alt="Foto de perfil William Toro"
    srcset=""
  /> -->
  <h2 class="text-2xl font-semibold">William Toro</h2>
  <nav class="flex gap-4">
    <LinkInline href="#top">Inicio</LinkInline>
    <LinkInline href="#experiencia">Experiencia</LinkInline>
    <LinkInline href="#proyectos">Proyectos</LinkInline>
    <LinkInline href="#sobre-mi">Sobre mi</LinkInline>
    <!-- <a href="#contacto">Conacto</a> -->
  </nav>
</header>
