---
import Badge from "./Badge.astro";
import SocialLink from "./SocialLink.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import GithubIconColor from "./icons/GithubIconColor.astro";
---

<h1 class="text-5xl font-bold flex-wrap-reverse flex items-center flex-row gap-x-4 pb-6">
  Hola, soy William Toro
  <Badge>Disponible para trabajar</Badge>
</h1>
<h2 class="text-xl opacity-80">
  <span>+2 años de experiencia.</span>
  <span class="text-blue-600/90">
    Ingeniero Industrial y desarrollador FullStack
  </span>
  <span class="text-green-500/90">de Pereira Colombia.</span>
  <span class="opacity-75">Enfocado en el desarrollo de aplicaciones web.</span>
</h2>

<ul class="flex flex-row gap-4 mt-8">
  <li>
    <SocialLink
      href="https://www.linkedin.com/in/william-ancizar-toro-benavides/"
    >
      <LinkedinIcon class="size-6" />
      Linkedin
    </SocialLink>
  </li>
  <li>
    <SocialLink href="https://github.com/a-toro">
      <GithubIconColor class="size-6" /> Git Hub
    </SocialLink>
  </li>
</ul>
