---
const { href } = Astro.props;
---

<a
    href={href}
    target="_blank"
    role="link"
    class="inline-flex active:bg-black border rounded-xl bg-gray-100 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-md"
>
    <slot />
</a>
